*.DS_Store
*.pyc
.tmp/
.vagrant
Gemfile.lock
Thumbs.db
cache
dist
packer/packer_cache
packer/var-file.json
substrate/launcher/launcher.exe
substrate/terraform/*.tfstate
substrate/terraform/*.tfvars
substrate/terraform/output
