# -*- mode: ruby -*-
# vi: set ft=ruby :
Vagrant.configure("2") do |config|
  config.vm.network :forwarded_port, guest: 22, host: 2222, id: "ssh", auto_correct: true

  [:vmware_fusion, :vmware_workstation].each do |vmware_product|
    config.vm.provider vmware_product do |v, override|
      #v.gui = true
      v.whitelist_verified = true
      v.vmx["memsize"] = "1024"
      v.vmx["numvcpus"] = "2"
    end
  end
end
